@import "../../../node_modules/font-awesome-sass/assets/stylesheets/font-awesome/_mixins.scss";

@mixin icon($icon, $width, $height, $position: 'relative') {
  position: relative;

  &:before {
    @include fa-icon;
    content: $icon;
    display: block;
    width: $width;
    height: $height;
    position: absolute;
    top: 0;
    left: 0;
    line-height: $height;
    text-align: center;
  }
}
