// colors
$tawny-port: #7b2a3b;
$terracotta: #e57661;
$manhattan: #f8c58c;
$marzipan: #f8e7a2;
$algea-green: #86ddb2;

// white to black
$white: #ffffff;
$alabaster: #fafafa;
$alto: #dadada;
$gray: #808080;
$mine-shaft: #333333;
