@import "../styleguide/colors";
@import "./variables";

@mixin control() {
  border-left: 1px solid #{$gray};
  width: $controls-height + 1px;

  &:first-child {
    border-left: 0;
    width: $controls-height;
  }
}

@mixin controlButton() {
  display: block;
  width: $controls-height;
  height: $controls-height;
  background: $alto;
  cursor: pointer;

  &:hover {
    background: $white;
  }
}
