@import "../styleguide/colors";
@import "./variables";

.currentTime {
  display: block;
  width: 80px;
  height: $controls-height;
  border-left: 1px solid #{$gray};
  border-right: 1px solid #{$gray};
  background: black;
  color: $white;
  line-height: $controls-height + 2px;
  text-align: center;
}
